pipeline/LoopingPipeline.json
{
	"name": "LoopingPipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Table List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "EXEC Automation.stpGetRunJobs 'SQLServer', '03:00:00.0000000'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlconnection",
						"type": "DatasetReference",
						"parameters": {
							"Environment": {
								"value": "@concat(pipeline().globalParameters.EnvironmentGP,'-sqlserverconnectionstring')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Pipeline",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Table List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Get Table List').output.value)",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item.dataSource",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Teradata",
										"activities": [
											{
												"name": "Run Parameter Copy Pipeline Teradata",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "ParameterCopyPipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false,
													"parameters": {
														"sourceSQLQuery": {
															"value": "@item().sqlQuery",
															"type": "Expression"
														},
														"dataSource": {
															"value": "@item().dataSource",
															"type": "Expression"
														},
														"tableName": {
															"value": "@item().tableName",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Run Parameter Copy Pipeline SQLServer",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "ParameterCopyPipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": false,
											"parameters": {
												"sourceSQLQuery": {
													"value": "@item().sqlQuery",
													"type": "Expression"
												},
												"dataSource": {
													"value": "@item().dataSource",
													"type": "Expression"
												},
												"tableName": {
													"value": "@item().tableName",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-05-26T16:26:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}