templates/LoopingPipelines/LoopingPipelines.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"Adventure Works": {
			"type": "string"
		},
		"AdventureWorksParamTable": {
			"type": "string"
		},
		"demoAzureDataLake": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Table List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT s.name as SchemaName , t.name as TableName\nFROM sys.tables t\nJOIN sys.schemas s on t.schema_id = s.schema_id",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSQLDB",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Pipeline",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Table List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@array(activity('Get Table List').output.value)",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Run Parameter Copy Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ParameterCopyPipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"sourceSchema": {
												"value": "@item().SchemaName",
												"type": "Expression"
											},
											"sourceTable": {
												"value": "@item().TableName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-04-30T23:02:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSQLDB')]",
				"[concat(variables('factoryId'), '/pipelines/ParameterCopyPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('Adventure Works')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": ""
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParameterCopyPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyTableActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AdventureWorksParamTable",
								"type": "DatasetReference",
								"parameters": {
									"sinkSchema": {
										"value": "@pipeline().parameters.sourceSchema",
										"type": "Expression"
									},
									"sinkTable": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "demoparquetfile",
								"type": "DatasetReference",
								"parameters": {
									"dlSchema": {
										"value": "@pipeline().parameters.sourceSchema",
										"type": "Expression"
									},
									"dlTable": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"dateTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"sourceSchema": {
						"type": "string"
					},
					"sourceTable": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AdventureWorksParamTable')]",
				"[concat(variables('factoryId'), '/datasets/demoparquetfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureWorksParamTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AdventureWorksParamTable')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sinkSchema": {
						"type": "String"
					},
					"sinkTable": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().sinkSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().sinkTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/demoparquetfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('demoAzureDataLake')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dlSchema": {
						"type": "String"
					},
					"dlTable": {
						"type": "String"
					},
					"dateTime": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().dateTime",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().dlSchema,'/',dataset().dlTable)",
							"type": "Expression"
						},
						"fileSystem": "akdemodata"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}